.showheader{
    background-color: white;
    height: 75px;
 
    // margin-right: 0;
    box-shadow: inset 0 0 0 1px #d5d2d5;
    color: white;
 
}

#showheader-content{
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    bottom: 0px;
}


#header-channel-title{
    color: black;
    font-family: Lato, sans-serif;
    margin-top: 17px;
    padding: 1px;
}


#header-and-icons{
    display: flex;
    flex-direction: column;;
    color:black;
}

.icons{
    display: flex;
    align-items: center;
    color: black;
}

#star{
    color: yellow;
}

#starr:hover{
    cursor: pointer;;
}


#person{
    color: black;
}

#person:hover{
   cursor: pointer;
}

#pin{
    color: black;
}

#pencil{
    display: flex;
    align-items: center;
    color: black;
    font-family: Lato, sans-serif;
}

#gear-button{
    color: grey;
    font-size: 30px;
    margin-right: 30px;
    // margin-top: 30px;
    padding-left: 10px;
   
}

#add-button{
    color: rgb(49, 49, 49);
    font-size: 30.5px;
    margin-bottom:50px;
}

#parentdropdown{
    position: relative;
    margin-right:50px;
    // margin-top: 10px;
    font-family: Lato, sans-serif;
    padding: 20px;
    font-size: 21px;
    align-items: center;
    background-color: none;
}

// .dropdown {
//     position: absolute;
//     width: 90%;
//     z-index: 5px;
//     margin-right: 100px;
    
// }

// .gear-dropdown-items{
//     color: white;
//     font-family: Lato, sans-serif;
//     font-size: 17px;
//     padding: 10px;
//     background-color: #333130;

.dropdown-items{
    width: fit-content
}
// }

// .gear-dropdown-items:hover{
//     background: #3f4046;
//     z-index: 10px;
// }

// #dropdown-click{
//     display:flex;
// }

// .dropdown-content{
//     position: absolute;
//     right:20px;
//     width: 200px;
// }

// .dropdown-col{
//     border: 1px solid black;
//     border-radius: 4px;
// }

#create-errors{
    align-content: flex-start;
    display: flex;
}


.private-gear-add {
    margin-top: 30px;
}

.private-gear-add2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // margin-top: 30px;
}



.modal-background-gear{
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 10;
}

.modal-child-gear{
    position: absolute;
    margin-top: 150px; 
    right: -70px;
    transform: translate(-50%, -50%);
    width: 200px
}

.modal-child-gear2{
    position: absolute;
    margin-top: 150px; 
    right: 280px;
    transform: translate(-50%, -50%);
    width: 200px
}