.members-list {
    display:flex;
    flex-direction: column;
    // justify-content: flex-end;
    margin-left: 1240px;
    height: calc(100vh - 55px);
    width: 400px;
     border-left: 1px solid gray ;
     margin-right: 0px;

}
.members-list-content {
    padding: 20px;
}


.list-title,.list-subtitle{
  text-align: center;
  font-family: lato, sans-serif
}

.list-title{
  font-weight:bold;
  font-size: 20px;
  margin-top:10px;

}

.list-subtitle{
    margin-top: 5px;
    margin-bottom: 5px;
  font: 15px;
  color: gray;

}
.members-content-stuff{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#members-list-align{
    margin-top:10px;
    padding-left: 75px;
    width: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    color: black
}

#members-list-align > li {
    padding: 5px;
    list-style: none;
     color: black;
}

.align-center-members{
    display: flex;
       align-items: center;
     align-content: center;
     justify-content: center;
}

.align-center-members:hover{
    color:grey;
    cursor: pointer;
}