.showheader{
    background-color: #272932;
   
    height: 75px;
    margin-left:275px;
    margin-right: 0;
    border: 2px solid black;
    color: white;
 
}

#showheader-content{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 20px;
    bottom: 0px;
}


#header-channel-title{
    color: white;
    font-size: 24px;
    font-size: bold;
    font-family: Lato, sans-serif;
    margin-top: 17px;
    padding: 1px;
}


#header-and-icons{
    display: flex;
    flex-direction: column;;
    color:white;
}

.icons{
    display: flex;
    align-items: center;
    color: white;
}

#star{
    color: yellow;
}

#person{
    color: white;
}

#pin{
    color: white;
}

#pencil{
    display: flex;
    align-items: center;
    color: white;
    font-family: Lato, sans-serif;
}

#gear-button{
    color: grey;
    font-size: 30px;
}

#parentdropdown{
    position: relative;
    margin-right:50px;
    margin-top: 10px;
    font-family: Lato, sans-serif;
    padding: 20px;
    font-size: 21px;
    align-items: center;
    background-color: none;
}

.dropdown {
    position: absolute;
    width: 90%;
    z-index: 5px;
    margin-right: 100px;
    
}

.gear-dropdown-items{
    color: white;
    font-family: Lato, sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 1px solid black;
    background-color: #333130;
    border-radius: 4px;

}

.gear-dropdown-items:hover{
    background: #3f4046;
    z-index: 10px;
}

#dropdown-click{
    display:flex;
}

.dropdown-content{
    position: absolute;
    right:20px;
    width: 200px;
}