
.main{
    display: flex;
    background-color: #f4ede4;
    flex-direction: column;
}

.col2{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -10;
 
}

.col1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

#content1{
     margin-top: -150px;
}

#headtext{
    font-weight: bold;
    font-size: 70px;
    font-family: Helvetica Neue;
    padding: 15px;
}

#subtext{
    font-weight: 500px;
    font-size: 26px;
    font-family: Helvetica Neue;
    padding: 15px;
}

#photo1{
    height: 750px;
    width: 750px;
}

#photo2{
    height: 625px;
    width: 625px;
    margin-left: -56px;
    padding-right: 50px;
}



#footer {
    font-family: Lato;
    font-size: 16px;
    width: 100%;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: flex-end;
    height: 200px;
}



#demo {
    // align-items: center;
    margin-top: 5%;
    margin-left:11%;
    display: inline-block;
    padding: 15px 60px 15px 60px;
    background-color: #592446;
    font-size: 25px;
    text-decoration: none;
    color:  white;
    border: 1px solid black;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}