.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 #close-x-modal{
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
    color: white;
   font-size: 30px;
 }


#channel-title{
    font-family: Lato, sans-serif;
    font-size: 28px;
    margin: 0 0 23px;
}

#channel-subtitle{
    font-family: Lato, sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
   
}

#create-input-field{
    border: 1px solid #818385;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 510px;
    font-size: 15px;
    background-color: whitesmoke;
    color: #D1D2D3;
}

#input-container{
    font-family: Lato, sans-serif
}

#create-channel-button{
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
    background-color: #74bb77;
    color: black;
    text-align: center;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 450;
    line-height: 1.28571429;
    letter-spacing: .8px;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 15px;

}

#create-btn-container{
    display:flex;
    justify-content: flex-end;
}
.channel-create-form{
    display: flex;
    max-width: 520px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 434px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(232,232,232,0.13), 0 18px 48px 0 rgba(0,0,0,0.35);
    color: black;
    font-weight: 400;
    line-height: 1.46668;
}

#channel-form{
    display: flex;
    justify-content: space-between;
    margin: 0px, 0px, 28px;

}

#trial{
    display: flex;
    margin-top: 40%;
    color: #D1D2D3;
    background-color: rgba(179,179,179,0.04);
    margin-right: 500px;
    margin-left: 500px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 49px;
    line-height: 1.46668;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border: 1px solid #565856;
}