.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    min-height: 65px;
    max-height: 65px;
    font-family: Lato;
    z-index: 2;
    margin-left: 10%;
    margin-right:10%,
}

.navbarcontainer{
    background-color: white;
    width: 100%;
}

#loginbutton {
    // align-items: center;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    margin: 5px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 3px;
}

#signupbutton {
    // align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    margin: 5px;
    background-color: #592446;
    font-size: 15px;
    text-decoration: none;
    color:  white;
    border: 1px solid black;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 3px;
}


.left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
}


#logo {
    text-decoration: none;
    color: black;
    font-weight: 2300px;
}

#duck{
    padding: 5px 10px 5px 10px;
    font-size: 28px;
    color: orange;
    margin-top: 7px;
}

.loginbutton{
    display: flex;
    height: 27px;
    width: 80px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 0 0.5px #717274;
    border-radius: 4px;
    align-items: center;
    align-content: center;
    padding: 5px 10px 5px 10px;
}

.logoutbutton {
    display: inline-block;
    padding: 7px 12px 7px 12px;
    margin: 5px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 3px;
}