.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    min-height: 65px;
    max-height: 65px;
    font-family: Lato;

    margin-left: 10%;
    margin-right:10%,
}

.navbarcontainer{
    background-color: white;
    width: 100%;
}

#loginbutton {
    // align-items: center;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    margin: 5px;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: black;
    // border: 1.5px solid black;
    border-radius: 3px;
}

#signupbutton {
    // align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    margin: 5px;
    background-color: #592446;
    font-size: 15px;
    text-decoration: none;
    color:  white;
    // border: 1px solid black;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 3px;
     cursor: pointer;
}


.left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    text-decoration: none;
}


#logo {
    text-decoration: none;
    color: black;
    font-weight: 2300px;
     cursor: pointer;
}

#duck{
    padding: 5px 10px 5px 10px;
    font-size: 28px;
    color: orange;
    margin-top: 7px;
    cursor: pointer;

    
}


.logoutbutton {
    display: inline-block;
    padding: 7px 12px 7px 12px;
    margin: 5px;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
     cursor: pointer;
}

#signupbutton:hover{
    background-color: #693355;
}



#loginbutton {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 2px;
    background-color: white;
    // border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    width: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

    #loginbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }

    #loginbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    
    transition: 0.5s;
 
    }

    #loginbutton:hover span {
    padding-right: 15px;
    }

    #loginbutton:hover span:after {
    opacity: 1;
    right: 0;
    }