#postindex{
    display:flex;
    flex-direction: column;
    // margin-left:280px;
    // margin-right: flex;
    margin-top: 10px;
    overflow-y: auto;
    // overflow-x: 0;
    height: calc(100vh - 230px);
    width: calc(100vw - 275px);
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
}


#postindex2{
    display:flex;
    flex-direction: column;
    // margin-left:280px;
    margin-top: 10px;
    overflow-y: auto;
    height: calc(100vh - 230px);
    width: calc(100vw - 625px);
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
}

 .notjoined{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    height: 90px;
    width: calc(100vw - 360px);
    bottom: 25px;
    color: black;
    background-color: rgba(232, 225, 235, 0.363);
    border: 1px solid  rgba(240, 233, 233, 0.932);
    margin-left: 20px;
    padding-left: 38px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    z-index: 1px;
 }

 #join-button{
    border: none;
    cursor: pointer;
    background-color: #74bb77;
    color: black;
    text-align: center;
    font-family: lato, sans-serif;
    font-weight: 450;
    width: 90px;
    height: 25px;
    letter-spacing: .8px;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 10px;
 }


.main-content {
    // width: calc(100vw - 1000px);
   margin-left:275px;
//    margin-right: -500px
}


.PostForm{
    position: fixed;
    // width: calc(100vw - 360px);
    bottom: 25px;
    color: #717375;
    background-color: rgba(179,179,179,0.04);
    margin-top: 440px;
    margin-left: 20px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 49px;
    line-height: 1.56668;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border: 1px solid #565856;
    z-index: 1px;
}

#postform-input{
     width: calc(100vw - 360px);
}

#postform-input2{
     width: calc(100vw - 710px);
}

#demoprofile{
    margin-top: 5px;
    margin-right: 9px;
    border-radius: 3px;
    width: 45px;
    height: 45px;
}

.postList{
    display: flex;
    color: #1D1C1D;
    font-family: Lato, sans-serif;
    padding-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#author{
    font-size: 17px;
    font-family: Lato, sans-serif;
    font-weight: 800;
    padding-top:2px;
    padding-bottom: 2px;
}

#timestamp{
    font-size: 12px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: grey;
    padding-top:2px;
}

#authorstuff{
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
}

#message{
    // display:flex;
    margin-top: -20px;
    font-size: 17px;
    font-weight: 300;;
    margin-bottom: 0px;
    padding-bottom: 3px;
    width: calc(100vh - 200px);
    overflow-wrap: break-word;
 
}
