  
 .compcontainer {
    background-color: whitesmoke;

 }
 
 .formpage {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    height: 100vh;
}

 .session-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 520px;
    height: 600px;
    margin-left: 27%;
    box-shadow: 1px rgba(0,0,0,0.25);
    top: 60px;
    background-color: white;
 }



 .button2 {
    width: 300px;
    text-align: center;
    background-color: #592446;
    font-size: 20px;
    color:  white;
    border: 1px solid black;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 2px;
    padding:9px;
    margin: 4px;
    font-family: Lato;
}
  


#input-field{
    width: 300px;
    padding: 7px;
    margin: 4px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 2px;
    font-size: 18px;
}

.continue{
    width: 300px;
    text-align: center;
    padding:9px;
    margin: 4px;
    color: white;
    background-color: rgb(127, 187, 127);
    border-radius: 4px;
    font-size: 20px;
    font-family: Lato;
    box-shadow: 0 0 0 0.2px #717274;
    border-radius: 2px;
}

#formtitle{
    font-family: lato;
    font-size: 45px;
    margin: 5px;
    align-content: center;
}

#formsubtitle{
    font-family: lato;
    font-size: 15.5px;
    padding: 10px;
}

::placeholder {
    font-size: 17px;
    font-family: lato;
}

li {
    text-decoration: none;
    font-family: lato;
    font-size: 16px;
    padding: 5px;
    color: red;
    font-weight: 700;
    margin: 0;

}